#headingpic {
    height: 245px;
    width: 100%;
    background-image: url("../img/salmon.png");
    background-color: blanchedalmond;
    background-size: cover;
}

thead {
  background-color: blue;
}

th {
  padding: 7px;
}

#toprow {
  background-color: lightgray;
}